footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #bdbcbc;
}

main {
  z-index: 1;
}

.testing {
  background-color: red;
}

.carousel-item {
  height: 70vh;
}
